@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Barlow Semi Condensed", sans-serif;
}

button {
    @apply bg-gray-400 hover:bg-gray-500 text-center px-10 py-2 rounded border border-gray-500 cursor-pointer w-64 shadow-lg hover:shadow-sm;
}

button:disabled {
    @apply bg-gray-300 hover:bg-gray-300 cursor-wait shadow-sm hover:shadow-sm border-0;
}

button:focus {
    outline: 0;
    @apply border-2;
}

input:focus {
    outline: 0;
    @apply: border-2;
}